<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>218247484217-ggdns99qmud786ndo8dqpu60argogron.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218247484217-ggdns99qmud786ndo8dqpu60argogron</string>
	<key>API_KEY</key>
	<string>AIzaSyAT0Q4FpgJCGJeCed26LOCgx_AuC9xuWF0</string>
	<key>GCM_SENDER_ID</key>
	<string>218247484217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ReaWonKim.pushmynotifs</string>
	<key>PROJECT_ID</key>
	<string>pushmynotifs-d66fb</string>
	<key>STORAGE_BUCKET</key>
	<string>pushmynotifs-d66fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:218247484217:ios:b7ed7b17cda563be</string>
	<key>DATABASE_URL</key>
	<string>https://pushmynotifs-d66fb.firebaseio.com</string>
</dict>
</plist>